
_pycache_/
*.py[cod]
*$py.class
*.so

venv/
env/
ENV/
.venv/

config/credentials.json
config/*.json
config/
presentaciones/config/oauth.json
presentaciones/config/*.json
token.json


*.env
*.local
*.secret

*.log
*.sqlite3
*.bak
*.tmp
*.swp
*.DS_Store


*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/
*/migrations/.pyc
**/migrations/_pycache_/
*/migrations/.py


*.h5
*.hdf5
*.pb
*.tflite
*.onnx
*.ckpt

dataset/
*.png
*.jpg
*.jpeg
*.bmp
*.mp4
*.avi